{% load static %}
<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/css/style.css' %}">
	<title>{% if titlu %}{{ titlu }}{% else %}Eroare 403{% endif %}</title>
</head>

<body>
	<h1>{% if titlu %}{{ titlu }}{% else %}Eroare 403{% endif %}</h1>

	<p>
		{% if user.is_authenticated %}
		Salut, {{ user.username }}!
		{% else %}
		Salut, preastimate borfas!
		{% endif %}
	</p>

	<p>
		{{ mesaj_personalizat }}
	</p>
</body>

</html>
