<!DOCTYPE html>
<html>

<head>
	<title>{{ subiect }}</title>
</head>

<body>
	<h1>Salut, pasionat de autoturisme!</h1>

	<p>Nu rata ocazia de a beneficia de o reducere de <strong>{{ procent_discount }}%</strong> la produsele din categoria
		<strong>Auto</strong>! Acum e momentul perfect să investești în accesorii și echipamente pentru mașina ta.
	</p>

	<p>Această promoție specială este valabilă până la <strong>{{ data_expirare }}</strong>. Asigură-te că și mașina ta
		profită de aceste oferte incredibile!</p>

	<p>Drumuri bune, <br>
		firma Cucu, bani putini si mult de lucru</p>
</body>

</html>
