<!DOCTYPE html>
<html>

<head>
	<title>{{ subiect }}</title>
</head>

<body>
	<h1>Salutare iubitor de tehnologie!</h1>

	<p>Avem vești bune pentru tine! Oferim o reducere de <strong>{{ procent_discount }}%</strong> la produsele din
		categoria <strong>Electronice</strong>. Acum e momentul să-ți îmbunătățești gadgeturile preferate!</p>

	<p><strong>Grăbește-te</strong>, această promoție este valabilă doar până la <strong>{{ data_expirare }}</strong>. Nu
		rata ocazia de a economisi și de a achiziționa cele mai noi tehnologii.</p>

	<p>Cu drag, <br>
		echipa firma Cucu, bani putini si mult de lucru</p>
</body>

</html>
